.icons{
    //margin-left: 80%;
    display: flex;
    position: relative;
    opacity: 0.6;
    border: none;
    background-color: none;
}
.colorButton{
    display: flex;
    flex-wrap: row wrap;
} 
.rap{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    width: 182px;
    height: 132px;
}