<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <div class="header">
            <div>
                <h1 fxLayoutAlign="center">
                    <span style="color:hsl(249, 100%, 50%)">F</span>
                    <span style="color:hsl(345, 79%, 49%)">u</span>
                    <span style="color:rgb(221, 224, 28)">n</span>
                    <span style="color:#2812f1">d</span>
                    <span style="color:hsl(135, 92%, 39%)">o</span>
                    <span style="color:#FF0066">o</span>
                </h1>
                <h2 fxLayoutAlign="center">
                    Account recovery
                </h2>
            </div>
            <form [formGroup]="forgetForm" (ngSubmit)="onforgotSubmit()">
                <div fxFlex="100" fxLayoutAlign="end" fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName='email' placeholder="email">
                        <mat-error>Enter a valid email</mat-error>
                    </mat-form-field>
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end">
                        <button mat-raised-button color="primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>