<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding-top: 5%; padding-left: 10%;">

    <div *ngFor="let note of NotesArray">

        <mat-card class="example-card" >
            <mat-card-title (click)="openDialog(note)">
                {{note.title}}
                <button class="pinbutton">
                    <img class="pin" src="/assets/push_pin_black_24dp.svg" alt="">
                </button>
            </mat-card-title>
            <mat-card-subtitle (click)="openDialog(note)">
                {{ note.discription }}
            </mat-card-subtitle>
            <mat-card-content class="matcardicons">
                <app-icons></app-icons>
            </mat-card-content>
        </mat-card>
    </div>
</div>