.example-card {
  width: 250px;
  border: 1px ;
  height: auto;
  border-radius: 15px;
}

.pinbutton{
  border: none; 
  background: none; 
  cursor: pointer;
  margin-top: 5%;
}

.pin{
  // margin-left: 100px;
  margin-top: 5%;
  // margin-bottom: -7px;
  opacity: 0.54;
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: relative;
  background: none;
  visibility: hidden;

}

.matcardicons{
    height: 42%;
    width: 100%;
    border: none;
    // margin-top: 23%;
    // margin-left: -10%;
    overflow: visible;
    visibility: hidden;
    
}

.example-card:hover .matcardicons{ 
  visibility: visible;
  
}

.example-card:hover .pin{
  visibility: visible;
}