<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <h1 class="header" fxLayoutAlign="center center">
                <span style="color:hsl(249, 100%, 50%)">F</span>
                <span style="color:hsl(345, 79%, 49%)">u</span>
                <span style="color:rgb(221, 224, 28)">n</span>
                <span style="color:#2812f1">d</span>
                <span style="color:hsl(135, 92%, 39%)">o</span>
                <span style="color:#FF0066">o</span>
            </h1>
        <div fxLayoutAlign="center center"> 
            <p class="h1"><b>Sign In</b></p>
        </div>
        <div class="h2">
            <p><b>contine to Fundoo</b></p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onloginSubmit()">
            <div fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName='email' placeholder="email">
                    <mat-error>
                        Enter a valid email
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName='Password' placeholder="Password">
                    <mat-error>
                        Enter a valid password
                    </mat-error>
                </mat-form-field>
                <div class="forget">
                    <button routerLink='/forgotpassword' mat-button color="primary">
                        <h4 style="color:#008cff;">
                            Forget password?
                        </h4>
                    </button>
                </div>
                <div>
                    <mat-checkbox class="checkbox1">Remember me</mat-checkbox>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between end">
                    <div>
                        <button routerLink='/registration' mat-button color="primary">
                            <h4 style="color:#008cff;">
                                Create account
                            </h4>
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button color="primary">log in</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>