<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<div class="container">
  <mat-card>
    <div class ="Form container">
          <div class="innerContainer">
              <div class="fundooWord">
                  <span>
                      <span class="blueColor fundooFont">F</span>
                      <span class="redColor fundooFont">u</span>
                      <span class="orangeColor fundooFont">n</span>
                      <span class="blueColor fundooFont">d</span>
                      <span class="greenColor fundooFont">o</span>
                      <span class="redColor fundooFont">o</span>
                  </span>
              </div>
          </div>
              <div class="createLine">
                  <h1>
                      Create your Fundoo Account
                  </h1>
              </div>
              <div class="FirstLastName">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput FirstName="FirstName">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput LastName="LastName">
                    </mat-form-field>
                </div>
            </div>
            <div class="userName">
              <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput UserName="UserName">
                <mat-icon matSuffix>@gmail.com</mat-icon>
                <mat-hint>Use mix of letters, numbers & Symbols</mat-hint>
              </mat-form-field>
              <div class="text">
              <p>
                  Use my current email address instead
              </p>          
              </div>
          </div>
          <div class="password">
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput password="password">
                <mat-hint>Use a mix of letters, numbers & Symbols</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput Confirm="Confirm">
              </mat-form-field>    
              <div class = "checkbox">
              <section class="example-section">
                <mat-checkbox class="example-margin">Show Password</mat-checkbox>
              </section>
              </div>
            </div>
        </div>
        <section>
          <div class="example-button-row">
            <button mat-flat-button>Sign in instead</button>
            <button mat-button>Next</button> 
          </div>
        </section>
    </div >
    <div class = "image">
      <img src="assets/icon.svg"
      width="250" 
     height="250">
      <p>One account. All of Google working for you.</p>
    </div>
  </mat-card>
</div>