<div fxLayout="row" fxLayoutAlign="center center" style="color:#f5f6fa;width :100vw;height:100vh ">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign=" center center" style="color:#151516">
            <div>
                <h1>
                    <span style="color:hsl(249, 100%, 50%)">F</span>
                    <span style="color:hsl(345, 79%, 49%)">u</span>
                    <span style="color:rgb(221, 224, 28)">n</span>
                    <span style="color:#2812f1">d</span>
                    <span style="color:hsl(135, 92%, 39%)">o</span>
                    <span style="color:#FF0066">o</span>
                </h1>
                <h2>
                    Change password
                    <h3>
                        Create a strong password
                    </h3>

                </h2>
                <div fxLayoutGap=20px>
                    <mat-form-field appearance="outline">
                        <mat-label>Create password</mat-label>
                        <input matInput createpassword="createpassword">
                    </mat-form-field>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm</mat-label>
                            <input matInput confirm="confirm">
                            <mat-hint>Atleast 8 characters</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <mat-checkbox class="example-margin">Show Password</mat-checkbox>
                <div fxLayout="row">
                    <button mat-flat-button>
                        <h5 style="color:#008cff;">
                            <b>Skip</b>
                        </h5>
                    </button>
                </div>
                <div fxLayout="row">
                    <div fxLayoutGap=250px>
                        <button mat-flat-button>
                            <h5 style="color:#008cff;">
                                <b> Save password
                                </b>
                            </h5>
                        </button>
                        <button mat-raised-button color="primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>