<mat-card class="updatenotes" [style.background]="colour">
    <div fxLayout="row">
        <input class ="input" matInput type="text" [(ngModel)]="title" />
        <mat-icon (click)="Pin()">push_pin</mat-icon>
    </div>

    <div>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
            [(ngModel)]="discription"></textarea>
    </div>

    <div fxlayout="row" fxLayoutAlign="space-between center" style="margin-right: 7%;">
        <app-icons [notedata]="data" [colourdata]="data"></app-icons>
        <button mat-stroked-button (click)="Updatenotes()">close</button>
    </div>
</mat-card>