::ng-deep .mat-dialog-container {
    padding: 0px !important;
}
.updatenotes{
    padding: 0px;
    width: 400px;
    border:none ;
    height: auto;
}
.input{
    border:none;
    outline: none;
    font-size: 25px;
}